/*公共样式 */
html,body,ul,li,ol,dl,dd,dt,p,
h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{
	margin:0;
	padding:0
}

#aboutus {
	width: 100%;
	height: 320px;
	background-color: #ffffff;
}

#aboutus .aboutus-main{
	width: 1140px;
	height: 320px;
	margin: 0 auto;
	background-color: #ffffff;
}

#aboutus .aboutus-main img{
	padding-top: 88px;
}

#aboutus .aboutus-main .text{
	width: 737px;
	height: 220px;
	margin-top: 88px;
	float: right;
	border-bottom: 1px solid #eeeeee;
}

#aboutus .aboutus-main .text h4{
	font-size: 15px;
	color: #000000;
}
	
#aboutus .aboutus-main .text p{
	padding-top: 30px;
	font-size: 11px;
	line-height: 30px;
	color: #656661;
}

#mission{
	width: 100%;
	height: 407px;
	background-color: #ffffff;
}

#mission .mission-main{
	width: 1140px;
	height: 407px;
	margin: 0 auto;
	background-color: #ffffff;
}

#mission .mission-main h4{
	padding-top: 37px;
	padding-bottom: 37px;
	font-size: 15px;
	text-align: center;
	color: #5C5C5C;
}

#mission .mission-main dl {
	float: left;
}

#mission .mission-main dl dd{
	padding-top: 25px;
	font-size: 13px;
	text-align: center;
	color: #5C5C5C;
}

#environment{
	width: 100%;
	height: 981px;
	background-color: #ffffff;
}

#environment .environment-main{
	width: 1140px;
	height: 981px;
	margin: 0 auto;
	background-color: #ffffff;
	border-top: 1px solid #eeeeee;
	overflow: hidden;
}

#environment .environment-main .officephoto{
	width: 1350px;
	height: 981px;
	margin: 0 auto;
}
#environment .environment-main .officephoto img{
	margin: 0 52.5px 50px 0;
}

#environment .environment-main h4{
	padding-top: 37px;
	padding-bottom: 37px;
	font-size: 15px;
	text-align: center;
	color: #5C5C5C;
}