html,body,ul,li,ol,dl,dd,dt,p,
h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{
	margin:0;
	padding:0
}

#contact {
	width: 100%;
	height: 800px;
	background-color: #ffffff;
}

#contact .contact-main{
	width: 1140px;
	height: 800px;
	margin: 0 auto;
	background-color: #ffffff;
}

#contact .contact-main h3{
	height: 60px;
	font-size: 20px;
	line-height: 60px;
	text-align: center;
	color: #000000;
}

#contact .contact-main p{
	font-size: 14px;
	padding-bottom: 10px;
	text-align: center;
	color: #444444;
}

#contact .contact-main span{
	font-size: 1px;
	line-height: 20px;
	color: lightcoral;
}

#contact .contact-main table{
		width:800px;
		height: 500px;
		margin: 0 auto;
		border: 1px solid #eaeaea;
}

#contact .contact-main table .title .subtitle {
	width: 200px;
	font-size: 17px;
	font-weight: bold;
	padding-left: 55px;
	color: #444444;
	border: 1px solid #eaeaea;
	background-color: #f7f7f7;
}
#contact .contact-main table .title input{
	width: 480px;
	height: 43px;
	margin-left: 20px;
	font-size: 17px;
	color: #141414;
	border: 1px solid #eaeaea;
	background-color: #eff1f5;
}

#contact .contact-main table .title input::placeholder{
	color: lightgrey;
	font-size: 17px;
}

#contact .contact-main table .title select{
	width: 487px;
	height: 43px;
	margin-left: 20px;
	font-size: 16px;
	border: 1px solid #eaeaea;
	background-color: #eff1f5;
}

#contact .contact-main table .title textarea{
	width: 480px;
	height: 90px;
	margin-left: 20px;
	font-size: 17px;
	border: 1px solid #eaeaea;
	background-color: #eff1f5;
}

#contact .contact-main table .title textarea::placeholder{
	color: lightgrey;
	font-size: 17px;
}

#contact .contact-main .chekinfo{
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 16px;
	text-align: center;
	color: #444444;
}

#contact .contact-main .submit{
	text-align: center;
}

#contact .contact-main .submit input{
	width: 100px;
	height: 50px;
	border: none;
	border-radius: 10%;
	font-size: 17px;
	font-weight: bold;
	color: snow;
	background-color: #f75a53;
	box-shadow:0 0 10px grey;	/*顺序：offset-x, offset-y, 模糊程度, 颜色*/
}

#contact .contact-main .submit input:hover{
	width: 103px;	/*比原尺寸大3px的话，点击效果比较自然*/
	height: 53px;	/*比原尺寸大3px的话，点击效果比较自然*/
	margin: 0 auto;
	border: none;
	border-radius: 10%;
	font-size: 17px;
	font-weight: bold;
	color: snow;
	background-color: #f75a53;
	box-shadow:0 0 10px #000;
}
	
#map {
	width: 100%;
	height: 600px;
	background-color: #f7f7f7;
}

#map .map-main{
	width: 1140px;
	height: 600px;
	margin: 0 auto;
	background-color: #f7f7f7;
}

#map .map-main h3{
	height: 60px;
	font-size: 20px;
	line-height: 60px;
	text-align: center;
	color: #000000;
}

#map .map-main .info1{
	width: 400px;
	height: 400px;
	margin: 30px 50px 20px 100px;
	border-radius: 10%;
	background-color: #FFFFFe;
	float: left;
}

#map .map-main .info1 p{
	line-height: 25px;
	text-align: center;
	font-size: 18px;
	color: #444444;
}

#map .map-main .info1 span{
	padding-top: 150px;
	display: block;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	font-size: 30px;
	color: #f75a53;
}

#map .map-main .info2{
	width: 400px;
	height: 400px;
	margin: 30px 100px 20px 50px;
	float: right;
}


