/*公共样式 */
html,body,ul,li,ol,dl,dd,dt,p,
h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{
	margin:0;
	padding:0
}
/*2.Banner*/
#banner .{
	width: 100%;
	height: 457px;
}
#banner .banner-main{
	width: 1140px;
	height: 457px;
	margin: 0 auto;
	background-color: yellow;
	background: url(../img/banner/banner.png) no-repeat center;
}
/*End:2.Banner*/

/*3.content1：Strategic*/
#strategic .strategic-main{
	width: 100%;
	height: 387px;
	background-color: #f7f7f7;
}

#strategic .strategic-main ul{
	width: 1140px;
	height: 202px;
	margin: 0 auto;	/*表格的位置要在ul里面设置才有效果*/
}

#strategic .strategic-main ul li{
	width: 188px;
	height: 100px;
	float: left;
	text-align: center;
	border: 1px solid gainsboro;
	list-style: none;
	/*位置调整：避免两个格子的边框重合变粗，
	  将上边框和左边框覆盖在相邻格子框线上*/
	margin: -1px 0 0 -1px;
	background-color: #ffffff;
}

#strategic .strategic-main ul li i{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
}

#strategic .strategic-main ul li a{
	display: inline-block;
	vertical-align: middle;
}

#strategic .strategic-main p{
	padding-top: 39px;
	text-align: center;
	font-size: 22px;
	line-height: 43px;
	color: #010000;
}

#strategic .strategic-main p span{
	font-size: 14px;
	color: #999999;
}
/*End:3.content1：Strategic*/

/*4.content2：Advantages*/
#advantages .advantages-main{
	width: 100%;
	height: 545px;
	background-color: #1a1b1f;
}

#advantages .advantages-main p{
	padding-top: 52px;
	text-align: center;
	font-size: 23px;
	line-height: 44px;
	color: #fefefe;
}

#advantages .advantages-main p span{
	line-height: 12px;
	font-size: 12px;
}
#advantages .advantages-main .box{
	width: 1140px;
	height: 326px;
	margin: 0 auto;
}

#advantages .advantages-main .box .boxsmall{
	width: 340px;
	height: 260px;
	margin-top: 66px;
	float: left;
	background-color: #d1d1d3;
	position: relative;
}

#advantages .advantages-main .box .boxsmall i{
	width: 130px;
	height: 130px;
	background: url(../img/advantages/image.png) no-repeat;
	position: absolute;
	display: inline-block;
	left: 106px;
	top: -64px;
	border-radius: 50%;
	
}

#advantages .advantages-main .boxsmall p{
	padding-top: 96px;
	padding-left: 83px;
	display: block;
	width: 175px;
	line-height: 44px;
	font-size: 16px;
	font-weight: bold;
	color: #f95c55;
}

#advantages .advantages-main .boxsmall  span{
	display: block;
	text-align: center;
	width: 254px;
	height: 74px;
	margin-left: 45px;
	line-height: 30px;
	font-size: 12px;
	color: #000100;
}

/*End:4.content2：Advantages*/

#cases .cases-main{
	width: 100%;
	height: 810px;
	background-color: #ffffff;
}

#cases .cases-main p{
	padding-top: 39px;
	text-align: center;
	font-size: 22px;
	line-height: 43px;
	color: #010000;
}

#cases .cases-main p span{
	font-size: 14px;
	color: #999999;
}

#cases .cases-main .casetitle{
	width: 796px;
	height: 40px;
	margin: 0 auto;
	background-color: #666666;
}

#cases .cases-main .casetitle ul li {
	width: 199px;
	list-style: none;
	text-align: center;
	float: left;
}

#cases .cases-main .casetitle ul li a{
	text-decoration: none;
	font-size: 13px;
	line-height: 40px;
	color: white;
}

#cases .cases-main .casetitle ul li a:hover{
	display: block;
	height: 47px;	/*鼠标移入时，菜单栏高度变得与背景图一样高*/
	background: url(../img/cases/image-menu.png) no-repeat top left;
}

#cases .cases-main .casephoto ul{
	width: 1140px;
	height: 546px;
	margin: 25px auto 0;
	/*border: 1px solid gray;*/
}

#cases .cases-main .casephoto ul li{
	width: 360px;
	height: 255px;
	float: left;
	list-style: none;
	/*: 1px solid gray;*/
	margin-top: -1px;
	margin-right: -1px;
}

#news{
	width: 100%;
	height: 351px;
	background-color: #f2f2f2;
}

#news .news-main{
	width: 1140px;
	height: 351px;
	margin: 0 auto;
	background-color: #f2f2f2;
}

#news .news-main .box{
	width: 342px;
	height: 272px;
	float: left;
	margin-top: 36px;
	background-color: #f2f2f2;
}

#news .news-main .box h4{
	line-height: 54px;
	font-size: 17px;
}

#news .news-main .box p a{
	text-decoration: none;
	line-height: 30px;
	list-style: none;
	font-size: 12px;
	color: #888888;
}

#news .news-main .box p a:hover{
	line-height: 30px;
	list-style: none;
	font-size: 12px;
	color: #f75a53;
}

#news .news-main .box span{
	float: right;
	line-height: 30px;
	font-size: 9px;
	color: #888888;
}

#news .news-main .box .infobutton{
	width: 116px;
	height: 32px;
	margin-left: 1px;
	margin-top: 6px;
	background-color: #f85a51;
	border-radius: 5px;
	text-align: center;
}

#news .news-main .box .infobutton a{
	text-decoration: none;
	line-height: 32px;
	font-size: 11px;
	color: #feffff;
}
