html,body,ul,li,ol,dl,dd,dt,p,
h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{
	margin:0;
	padding:0
}

#service{
	width: 100%;
	height: 852px;
	background-color: #FFFFFF;
}

#service .service-main{
	width: 1140px;
	height: 852px;
	margin: 0 auto;
	padding-top: 55px;
	background-color: #FFFFFF;
}
#service .service-main .content{
	padding-bottom: 25px;
}
#service .service-main h4{
	font-size: 16px;
	line-height: 28px;
	padding-left: 34px;
	padding-right: 34px;
	color: #4B4B4B;
}

#service .service-main p{
	font-size: 14px;
	line-height: 28px;
	padding-left: 34px;
	padding-right: 34px;
	color: #616161;
}

#service .service-main .content span{
	display: inline-block;
	font-size: 14px;
	line-height: 28px;
	padding-left: 34px;
	padding-right: 34px;
	color: lightcoral;
}
