/*重置样式：由于一些标签自身含有默认的值，
			所以需要首先重置所有标签的值，方便后续的设置
			这样头部和底部出现白线也会消失*/
*{
	margin: 0;
	padding: 0;
}

/*将整体架构撑开*/
#header{
	width: 999px;	/*使用PS测量*/
	height:100px ;	/*使用PS测量*/
	background-color: #ffffff;
	margin:0 auto ;
}
#header .logo{
	width: 246px;
	height: 23px;
	background-color: red;
	float: left;
	margin: 40px 0 35px 23px;
}

#header .search{
	width: 230px;
	height: 25px;
	background-color: red;
	float: right;
	margin: 40px 23px 35px 0px;
	background: #f1f1f1;
	border: 1px solid e7e7e7;
}

#header .search .text{
	width: 188px;
	height:25px ;
	border: none;	/*如果不去掉边框就会出现栏目比原来的盒子大的问题*/
	float: left;	/*使用浮动调整文字框的位置往左，让下面的按键漂上来*/
	padding-left: 16px;
	font-size:10px;	/*字体大小需要量取文字的高度*/
	background: #f1f1f1;
}

#header .search .button{
	width:24px ;
	height:25px ;
	float: left;
	background: url(../img/search.png) no-repeat left center;
	border:none;
}

#nav{
	width: 999px;	
	height:60px ;	/*使用PS测量*/
	background-color: #2c2c2c;
	margin: 0 auto;
}

#nav ul li{
	width: 120px;
	height: 58px;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 60px;
	border-right: 1px solid #4b4b4b;
	font-size: 13px;
}

#nav ul{
	padding-left: 25px;
}

#nav ul .last-menu{	/*删去最后一个菜单框的右边框*/
	border-right:none;
}

#nav ul li a{
	color: white;	/*注意：因为文字最终处于”a”标签中，
					所以必须要在“a”底下来设置该文字的颜色*/
	text-decoration: none;	/*将a标签位置的文字的默认下划线删去*/
}

#banner{
	width: 999px;
	height:465px ;	/*使用PS测量*/
	margin: 0 auto;
}

#news{
	width: 999px;
	height:546px ;	/*使用PS测量*/
	background-color:yellow;
	margin: 0 auto;
}

#news .news-1{
	width: 999px;
	height: 242px;
	background-color: #F08080
}

#news .news-1 .section1{
	width: 453px;
	height: 242px;
	float: left;
	padding-left: 20px;
	padding-right: 26px;
	background-color: #FFFFFF;
}

#news .news-1 .section1 h3{
	height: 80px;
	line-height: 80px;
	font-size: 18px;
	color:#141414 ;
}

#news .news-1 .section1 ul li{
	list-style-position: inside;
	list-style-image: url(../img/dot.png);
	line-height: 24px;
	width: 449px;
	height: 25px;
}

#news .news-1 .section1 ul li a{
	text-decoration:none;
	color: #5c5c5c;
	font-size: 12px;
}

#news .news-1 .section1 span{
	float: right;
	color: #9f9f9f;
	font-size: 12px;
}
	
#news .news-1 .section2{
	width: 193px;
	height: 242px;
	float: left;
	padding-left: 26px;
	padding-right: 24px;
	background-color: #f1f1f1;
}

#news .news-1 .section2 h3{
	height: 80px;
	line-height: 80px;
	font-size: 18px;
	color: #111111 ;
}

#news .news-1 .section2 .para1{
	width: 125px;
	font-size: 13px;
	line-height: 26px;
	color: #535353;
}


#news .news-1 .section2 .para2{
	font-size: 12px;
	line-height: 25px;
	margin-top: 12px;
	color: #8f8f8f;
}

#news .news-1 .section3{
	width: 209px;
	height: 242px;
	float: left;
	padding-left: 26px;
	padding-right: 22px;
	background: #fbfbfb url(../img/flower.png) no-repeat 165px 122px;
}

#news .news-1 .section3 h3{
	height: 80px;
	line-height: 80px;
	font-size: 18px;
	color: #141414 
}

#news .news-1 .section3 p{
	width: 170px;
	font-size: 11px;
	line-height: 24px;
	color: #777777 ;
}

#news .news-1 .section3 a{
	float: left;
	margin-top:42px;
}


#news .news-2{
	width: 959px;
	height: 274px;
	background-color: #ffffff;
	padding: 30px 20px 35px 20px;
}


#news .news-2 h3{
	height: 35px;
}

#news .news-2 .content{
	height: 204px;
	
}

#news .news-2 .smallbox{
	width: 211px;
	height: 204px;
	margin-top: 17px;
	float: left;
}

#news .news-2 .smallbox a{
	width:204px ;
	margin-top: 19px;
	font-size: 11px;
	line-height: 24px;
	text-decoration: none;
	color: #7f7f7f;
}

#footer{
	width: 959px;
	height:231px ;	/*使用PS测量*/
	background-color: #e5e5e5;
	margin: 0 auto;
	padding: 32px 20px 0 20px;
}

#footer h3{
	font-size: 16px;
	height: 28px;
	font-weight: normal; 	/*不要忘记*/
	margin-bottom: 10px;
	color: #616161;
	padding-left: 12px;
	border-bottom: 1px solid #C2C2C2;	/*直接添加底部边框，就不需要hr标签了*/
}

#footer .productcenter{
	width: 453px;
	height: 189px;
	float: left;
}

#footer .productcenter .productlist1{
	width: 84px;
	float: left;
	margin-right: 78px;
}

#footer .productcenter .productlist1 ul li{
	list-style: url(../img/footerdot.png) inside;
}

#footer .productcenter .productlist1 ul li a{
	font-size: 11px;
	line-height: 24px;
	text-decoration: none;
	color: #5f5f5f;
}

#footer .productcenter .productlist2{
	width: 122px;
	float: left;
	margin-right: 72px;
}

#footer .productcenter .productlist2 ul li{
	list-style: url(../img/footerdot.png) inside;
}

#footer .productcenter .productlist2 ul li a{
	font-size: 11px;
	line-height: 24px;
	text-decoration: none;
	color: #5f5f5f;
}

#footer .productcenter .productlist3{
	width: 76px;
	float: left;
}

#footer .productcenter .productlist3 ul li{
	list-style: url(../img/footerdot.png) inside;
}

#footer .productcenter .productlist3 ul li a{
	font-size: 11px;
	line-height: 24px;
	text-decoration: none;
	color: #5f5f5f;
}

#footer .technology{
	width: 154px;
	float: left;
}

#footer .technology hr{
	color: #c2c2c2;
	size: 2px;
	margin-bottom: 20px;
}

#footer .technology{
	float: left;
	margin-right: 78px;
}

#footer .technology ul li{
	width: 84px;
	font-size: 11px;
	line-height: 24px;
	padding-left: 12px;
	list-style-position: inside;
	list-style-image: url(../img/footerdot.png);
}

#footer .technology ul li{
	width: 84px;
	font-size: 11px;
	line-height: 24px;
	list-style-position: inside;
	list-style-image: url(../img/footerdot.png);
}

#footer .technology ul li a{
	text-decoration: none;
	color: #5f5f5f;
}

#footer .marketingnet{
	width: 260px;
	float: left;
}

#footer .marketingnet hr{
	color: #c2c2c2;
	size: 2px;
	margin-bottom: 20px;
}

#footer .marketingnet a{
	padding: 14px 38px 30px 36px
}

#copyright{
	width: 999px;
	height: 81px;
	background-color: #FFFFFF;
	margin: 0 auto;	/*上下为0，左右自动跟随已经设置要的宽度*/
}

#copyright .view1{
	padding-left: 17px;
}
#copyright .view1 ul li{
	list-style: none;
	float: left;
	padding-top: 24px;
}

#copyright .view1 ul li a{
	text-decoration: none;
	font-size: 12px;
	border-right: 1px solid #818181;
	color: #818181;
}

#copyright .view2{
	float: right;
	padding-top: 28px;
	padding-right: 17px;
	
}

#copyright .view2 p{
	font-size: 12px;
	color: #818181;
}